.Side-bar
  .Side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icon
          = link_to '#' do
            = icon('fas', 'edit')
        %li.top-items__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .group-list
    .details
      = link_to "#" do
        .details__name
          techcamp
        .details__message
          まだメッセージがありません